@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
}

* {
  max-width: 100%;
}

@keyframes move-left {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

@keyframes move-right {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.animate-move-left {
  animation: move-left 5s ease-in-out infinite;
}

.animate-move-right {
  animation: move-right 5s ease-in-out infinite;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

/* Hero title gradient */
.bg-hero-title-gradient {
  background: radial-gradient(
    13731.17% 574.54% at 98.77% -239.38%,
    #1173fc 0%,
    #9db1d3 12.31%,
    #cdc6c6 27.35%,
    #f9dab9 49.66%,
    #f9dab8 67.51%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
